/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-inline: 10%;
}

.navbar-logo {
    font-size: 1.5em;
    color: white;
    font-family: 'Cagliostro', monospace;
    /* Optional: to match the 'handwritten' style */
}

.navbar-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-link {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Cagliostro', monospace;
    font-size: 1.2em;
}

.navbar-link:hover {
    color: #EB5C76;
}